header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: whitesmoke;
    color: purple;
  }

h1 {
    font-size: 200%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 30px;
    list-style-type: none;
}

nav a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

nav a:hover {
    color: orange;
}

main {
    display: flex;
    flex: 1 1 0;
    max-width: 1200px;
    margin: 2% auto;
}
section {
    flex: 1 1 0;
    padding-right: 5%;
}
article {
    border-bottom: 1px solid darkgreen;
}
article p {
    margin: 2% 0;
    font-size: 110%;
}
span[data-descr] {
    position: relative;
    text-decoration: none;
    color: black;
    cursor: help;
}
span[data-descr]:hover::after {
    content: attr(data-descr);
    position: absolute;
    left: 0;
    top: 24px;
    min-width: 200px;
    border: black;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 12px;
    color: purple;
    font-size: 110%;
    z-index: 1;
}




